{% extends "employee_information/base.html" %}{% load humanize %} {% block pageContent %}
<style>
    td,th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      tr:nth-child(even){background-color: #f2f2f2;}
      th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color:#6f42c1;
        color: white;
      }

</style>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card ">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Attendance List</h4>
            
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <hr class="w-100">
</div>

<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
    <table>
        <thead>
            <th>Name</th>
            <th>Code</th>
            <th>Date</th>
            <th>In-time</th>
            <th>Out-time</th>
            <th>Attendance</th>
        </thead>
        
    {% for employee in employees %}
    
    <tr>
    <td> {{employee.employee_id.firstname}} {{employee.employee_id.middlename}} {{employee.employee_id.lastname}}</td>
     <td> {{employee.employee_id.code}}</td>

     <td>{{employee.date}}</td>
     {% if employee.status == 'Absent' %}
     <td>None</td>
    <td>None</td>
    {% elif employee.status == 'Present' %}
     <td>{{employee.intime}}</td>
    <td>{{employee.outime}}</td>
    {% else %}
    <td>None</td>
    <td>None</td>
    {%endif%}
    
    <td>{{employee.status}}</td>
    </tr>
    {% endfor %}
    </table>
</div>
</div>


<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
    <table>
        <thead>
            <th>Name</th>
            <th>Date</th>
            <th>In-time</th>
            <th>Out-time</th>
            <th>Attendance</th>
            <th>Save</th>
        </thead>
        
    {% for e in emp %}
    {%if e.code not in marked%}
    <form method="post" action="/attendance" id="attendance_form">
    {% csrf_token %}
    <tr>
     <td>{{e.firstname}} {{e.middlename}} {{e.lastname}} </td>
     <input type = "hidden" name = "personnel" value = {{e.code}}>
     <td>{{d}}</td>
     <td><input type="time"  name="intime"></td>
    <td><input type="time" placeholder="Out-time" name="outtime"></td>
    <td><select id="status" name="status">
        <option value="Present">Present</option>
        <option value="Absent">Absent</option>
        <option value="Excused">Excused</option>
       
      </select></td>
    <td><input type="submit" value="Submit"></td>
    </tr>
   </form>
    {% endif %}
    {% endfor %}
    </table>
</div>
</div>

<script>
    document.getElementById("attendance_form").onsubmit = function(){
		location.reload(true);
	}
</script>



{% endblock %}