{% extends "employee_information/base.html" %}{% load humanize %} {% block pageContent %}
<style>
    input[type="dat"]{
        background-color: #0080ff;
        padding: 15px;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        bottom:50%;
        font-family: "Roboto Mono",monospace;
        color: #ffffff;
        font-size: 18px;
        border: none;
        outline: none;
        border-radius: 5px;
        border:1px solid black;
    }
    ::-webkit-calendar-picker-indicator{
        background-color: #ffffff;
        padding: 5px;
        cursor: pointer;
        border-radius: 3px;
        border:1px solid black;
        
    }
    input[type="date"]::-webkit-clear-button {
        display: none;
        border:1px solid black;
    }
    
    /* Removes the spin button */
    input[type="date"]::-webkit-inner-spin-button { 
        display: none;
        border:1px solid black;
    }
    
    /* Always display the drop down caret */
    input[type="date"]::-webkit-calendar-picker-indicator {
        color: #2c3e50;
        border:1px solid black;
    }
    
    /* A few custom styles for date inputs */
    input[type="date"] {
        appearance: none;
        -webkit-appearance: none;
        color: #95a5a6;
        font-family: "Helvetica", arial, sans-serif;
        font-size: 18px;
        border:1px solid #ecf0f1;
        background:#ecf0f1;
        padding:5px;
        display: inline-block !important;
        visibility: visible !important;
        
    }
    
    input[type="date"], focus {
        color: #95a5a6;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        border:1px solid grey;
        border-radius:10px;
    }
    td,th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      tr:nth-child(even){background-color: #f2f2f2;}
      th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        
        color: white;
      }
      

/* CSS */
.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
.date1
{
    font-size:20px;
}
.head
{
    text-align:center;
    font-color:grey;
    background-color:#80808030;
    padding:10px;
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left:auto;
    margin-right:auto;

}

</style>


<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card ">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Attendance Records Check</h4>
            
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <hr class="w-100">
</div>
<form class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12" method="post" action="/attendance-check">
    {% csrf_token %}
    <label for="date1" class="date1" style="margin:8px;">Search by Date</label>

    <input type="date" placeholder="search by date" name='date1' id='date1'>
    <br>
    <button type="submit" class="button-34" style="margin:8px;">Submit</button>
</form>

{% if not_working %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <h4 class="head" style='text-align:center;'>Not a Working Day</h4>
    </div>
</div>
{% endif %}

{% if present %}

<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
    <table>
        <thead style="background-color:#04AA6D;">
            <th>Employee Code</th>
            <th>Name</th>
            <th>Date</th>
            <th>In-time</th>
            <th>Out-time</th>
            <th>Attendance</th>
        </thead>

<h4 class="head">List of Employees who were Present</h4>
{% endif %}
<br>
{% for emp in present %}

<tr>
<td>{{emp.employee_id.code}}</td>
 <td> {{emp.employee_id.firstname}} {{emp.employee_id.middlename}} {{emp.employee_id.lastname}}</td>
 <td>{{emp.date}}</td>
 <td>  {{emp.intime}}</td>
<td>  {{emp.outime}}</td>
<td>{{emp.status}}</td>
</tr>
{% endfor %}
</table>
</div>
</div>
{% if absent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
    <table>
        <thead style="background-color:#C60C30;">
            <th>Employee Code</th>
            <th>Name</th>
            <th>Date</th>
            <th>In-time</th>
            <th>Out-time</th>
            <th>Attendance</th>
        </thead>
<h4  class="head" style='text-align:center;'>List of Employees who were Absent</h4>
<br>
{% endif %}
{% for emp in absent %}
<tr>
    <td>{{emp.employee_id.code}}
 <td> {{emp.employee_id.firstname}} {{emp.employee_id.middlename}} {{emp.employee_id.lastname}}</td>
 <td>{{emp.date}}</td>
 <td>-</td>
<td>-</td>
<td>{{emp.status}}</td>
</tr>
{% endfor %}
</table>
</div>
</div>


{% if excused %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
    <table>
        <thead style="background-color:#FFC72C;">
            <th>Employee Code</th>
            <th>Name</th>
            <th>Date</th>
            <th>In-time</th>
            <th>Out-time</th>
            <th>Attendance</th>
        </thead>
<h4 class="head" style='text-align:center;'>List of Employees who were on Leave</h4>
<br>
{% endif %}
{% for emp in excused %}
<tr>
    <td>{{emp.employee_id.code}}</td>
 <td> {{emp.employee_id.firstname}} {{emp.employee_id.middlename}} {{emp.employee_id.lastname}}</td>
 <td>{{emp.date}}</td>
 <td>-</td>
<td>-</td>
<td>{{emp.status}}</td>
</tr>
{% endfor %}
</table>
</div>
</div>





<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
<div
id="myChart" style="width:100%; max-width:700px; height:500px; margin-left:140px;">
</div>

<script>
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
const data = google.visualization.arrayToDataTable([
  ['Status', 'Count'],
  ['Present',{{count_p}}],
  ['Absent',{{count_a}}],
  ['Leave',{{count_e}}],
 
  
]);

const options = {
  title:'Percentage attendance of employees on {{date}}',
  is3D:true
};

const chart = new google.visualization.PieChart(document.getElementById('myChart'));
  chart.draw(data, options);
}

</script>
</div>
</div>

{% endblock %}